################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FMM2/bin/x86/Debug
/FMM2/obj/x86/Debug/App.g.cs
/FMM2/obj/x86/Debug/App.g.cs
/FMM2/obj/x86/Debug/App.g.cs
