<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ini-parser" version="2.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="SharpSvn.1.9-x86" version="1.9005.3940.224" targetFramework="net452" />
</packages>